<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-title">URL Shortener</div>
        <div class="navbar-buttons">
            <button onclick="window.location.href='/signup'">Sign Up</button>
            <button onclick="window.location.href='/login'">Log In</button>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; 2025 URL Shortener. You are Welcome.</p>
    </footer>
</body>
</html>
